.navbar {
    display: flex;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    height: 4.5rem;
    width: 70.5%;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    opacity: 0;
    animation: appers-from-left 0.3s forwards;
    animation-delay: 0.7s;
    z-index: 5;
}


.navbar-features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72.3px;
    margin-top: 0.3rem;
    gap: 1rem;
}

.navbar-items {
    display: flex;
    gap: 1.5rem;
}

.navbar-items a:nth-child(3) {
    animation-delay: 0.3s;
}

.navbar-items a:nth-child(2) {
    animation-delay: 0.6s;
}

.navbar-items a:nth-child(1) {
    animation-delay: 0.1s;
}

.hover-up:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.theme-icon {
    animation: vanish 0.5s forwards;
    opacity: 0;
    padding-top: 0.4rem;
    cursor: pointer;
}

.theme-icon svg {
    transition: all 0.2s ease-out;
    user-select: none;
}

.navbar-items a {
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
}

@keyframes appers-from-left {
    0% {
        opacity: 1;
        transform: translateX(-60rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes vanish {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-item:hover,
.navbar-item:focus {
    cursor: pointer;
    animation-fill-mode: none;
    transform: scale(1.2) !important;
    transition: all 0.2s ease-in-out !important;

}

@media screen and (max-width: 500px) {
    .navbar-items a {
        font-size: 1.2rem;
    }
}