.footer {
    display: flex;
    flex-direction: column;
    max-width: 1175px;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    padding: 0 16px;
    height: 3rem;
}

.footer-line {
    border-top: 3px solid;
    height: 1px;
    width: 100%;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footer-left p {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-right {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.footer-right a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .footer-left p {
        font-size: 0.75rem;
    }

    .footer-left svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    .footer-right svg {
        height: 1.5rem;
        width: 1.5rem;
    }

    .footer-right {
        gap: 5px;
    }

}