.project-item {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-height: 30rem;
    border-radius: 5px;
    z-index: 5;
}

.project-info h3 {
    padding: 0.5rem 0rem;
    border-radius: 5px;
}

.project-info p {
    min-height: 76px;
    font-size: 1rem;
    font-weight: 300;
}

.project-info {
    width: 100%;
}

.project-image {
    display: flex;
    align-self: self-start;
    width: 100%;
    border-radius: 5px;
    height: 60%;
}

.project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.visit-button {
    text-decoration: none;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border: 2px solid;
    border-radius: 5px;
    width: 5rem;
    transition: transform 0.2s ease-in-out;
    font-weight: bold;
}

.visit-button:hover {
    transform: scale(1.1);
}

.tecnologies {
    display: flex;
    gap: 0.5rem;
}

.tecnologies img {
    width: 2rem;
    height: 2rem;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 0.48rem;
    text-align: center;
}


@media (max-width: 1186px) {
    .project-item {
        width: 65%;
        margin: 0 4rem;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .project-item {
        width: 100%;
        margin: 0 4rem;
        padding: 2rem;
    }
}


@media screen and (max-width: 590px) {
    .project-item {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .project-image {
        padding: 1rem;
    }

    .project-footer {
        padding: 1rem;
    }

    .project-info {
        padding: 1rem;
    }
}